
.techstackWrap {
  max-width: 900px;
}

.techstackTitle {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.2rem;
  user-select: none;
}

.techstackAllWrap {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}

/* Techstack Stats Area (Right Side)*/
.techstackStats {
  display: flex;
  gap: 1.5rem;
  border-radius: 0.7rem;
  border-width: 1rem;
  border-color: red;
  border: 2px solid rgba(102, 40, 79, 0.7);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
  width: 30%;
  background:rgba(223, 86, 194, 0.119);
}

.statsBox {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 8px;
  padding: 20px;
  color: #fff;
  font-size: 1rem;
}

/* Techstack Content Area (Left Side)*/
.techstackContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  /* padding: 2rem 1.2rem 1.5rem; */
  /* background: var(--terminal-bg); */
  user-select: none;
  gap:20px;
  width: 70%;
}


/* Card Flip Effect*/
.techCard {
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border-radius: 8px; */
  /* padding: 20px; */
  color: #fff;
  font-size: 1rem;
  /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35); */
  font-size: 0.95rem;
  height: 12rem;
  width: 8.5rem;
  perspective: 1000px;
  background-color: transparent;
  
}

.techCardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 500ms ease;
}

.techCard:hover .techCardInner{
    transform: rotateY(180deg);
}

.techCardFront,
.techCardBack {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
}

.techCardBack {
  transform: rotateY(180deg);
}

.techCardFront {
    background-color: rgb(40, 19, 35);
    border-radius: 4px;
    border: 2px solid rgba(102, 40, 79, 0.7);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
}

/* Techstack Content (Left Side) */
.techIcon {
    margin-top: 0.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    object-fit: contain;
    justify-content: center;
}

.techName {
    font-size: 0.9rem;
    font-weight: 400;
}

.techCardBack {
    background-color: rgba(18, 14, 20, 0.8);
    border-radius: 8px;
    padding: 10px;
    font-size: 0.85rem;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
}

